@font-face {
  font-family: EBGaramond;
  src: url(assets/font/EBGaramond12-Regular.woff);
}

@font-face {
  font-family: EBGaramond;
  src: url(assets/font/EBGaramond12-Italic.woff);
  font-style: italic;
}

.logo {
  height: 1.5rem;
}

.slogan {
  cursor: default;
  font-family: Palatino, serif;
  font-style: italic;
}

body {
  background-color: #f6f3e9;
}

.lnota {
  width: 50%;
  margin-left: 0;
  background-color: black;
}

.info {
  background-color: #DDD;
}

.blog-header {
  border-bottom: 1px solid #dcd9cf;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.1rem;
}

.blog-post {
  margin-bottom: 4rem;
  font-family: EBGaramond, Palatino, serif;
  font-variant-numeric: lining-nums;
  font-size: 1.3rem;
}

  .blog-post > p {
    margin-bottom: 1.3em;
  }

.nota {
  font-size: 1rem;
}

@media all and (min-width: 1200px) {
  .blog-post > p {
    margin-right: 9.5em;
  }
}

@media all and (max-width: 768px) {
  .margenup {
    margin-top: 2rem;
  }
  .slogan {
    font-size: 0.8rem;
  }
  .logo {
  height: 1.3rem;
  }
}

.blog-post-title {
  margin-bottom: 0.25rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f0ede3;
  border-top: 0.05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.contacto {
  display: inline-block; 
  text-align: left;
  margin-bottom: 0.5rem;
}

.contacto a:link, .contacto a:visited, .contacto a:hover, .contacto a:active { color:black; text-decoration: none; }
