@font-face {
  font-family: EBGaramond;
  src: url(font/EBGaramond12-Regular.woff);
}

@font-face {
  font-family: EBGaramond;
  src: url(font/EBGaramond12-Italic.woff);
  font-style: italic;
}

.articulo {
  font-family: EBGaramond, Palatino, serif;
  font-variant-numeric: lining-nums;
  font-size: 1.3rem;
}

.articulo > p {
    margin-bottom: 1.3em;
}

.lnota {
  width: 50%;
  margin-left: 0;
  background-color: black;
}

.nota {
  font-size: 1rem;
}

@media all and (min-width: 1200px) {
  .articulo {
    margin-left: 2.5em;
    margin-right: 7em;
  }
}

.articulo-title {
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-family: Palatino, serif;
}

.articulo-meta {
  margin-bottom: 1.25rem;
  color: #999;
}