@font-face {
    font-family: Spartan;
    src: url(font/refrigerator.woff);
}

@font-face {
    font-family: Garamond;
    src: url(font/eb-garamond.woff);
}

@font-face {
    font-family: Garamond;
    src: url(font/eb-garamond-italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Advent;
    src: url(font/advent-pro.woff);
}

body {
    font-family: Garamond;
    font-size: 1.4rem;
    color: black;
}

.nav {
    list-style-type: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav>li {
    display: inline;
}

.logo {
    background-image: url(/assets/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    height: 2.5rem;

}

.cultura {
    background-image: url(/assets/slogan.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 0;
    height: 2.5rem;
}

.headm {
    padding: 1rem 0 1rem 0;
}

.info {
    background-color: #DDD;
}

.nav-scroller {
    font-variant: small-caps;
    font-family: Spartan;
    font-size: 1.7rem;

}

.tlibro {
    font-family: Spartan;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

.titcall {
    font-family: Spartan;
    font-size: 2.2rem;
}

.titcall2 {
    font-family: Advent;
    font-size: 2rem;
}

.refri {
    font-family: Spartan;
    font-size: 1.8rem;
}

.peq {
    font-size: 1.1rem;
}

.gran {
    font-size: 1.5rem;
}

.foto {
    max-height: 295px;
}

.ulibro {
    max-height: 350px;
}

.wimg {
    width: 150px;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .25));
}

.spahome {
    margin-top: 6rem;
}

@media all and (max-width: 767.98px) {
    .margenup {
        margin-top: 2rem;
    }

    .headm {
        padding: 1rem 0 0 0;
    }

    .logo {
        background-position: center;
        height: 2.2rem;
        margin-top: -0.5rem;
    }

    .cultura {
        height: 0rem;
        margin: 0.2rem 0 0.2rem 0;
    }

    .foto {
        max-height: 165px;
    }

    .mcent {
        text-align: center;
    }

    body {
        font-size: 1.25rem;
    }

    .nav-scroller {
        font-size: 1.5rem;
    }

    .tlibro {
        font-size: 1.6rem;

    }

    .titcall {
        font-size: 2rem;
    }

    .titcall2 {
        font-size: 1.8rem;
    }

    .refri {
        font-size: 1.6rem;
    }

    .peq {
        font-size: 1rem;
    }

    .gran {
        font-size: 1.3rem;
    }


}

.articulo>p {
    margin-bottom: 1.3em;
}

.lnota {
    width: 50%;
    margin-left: 0;
    background-color: black;
    margin-top: 5rem;
}

@media all and (min-width: 1200px) {
    .articulo {
        margin-top: 1.5em;
        margin-left: 3.5em;
        margin-right: 3em;
    }

    .mleft {
        margin-left: 3.5em;
    }
}

.pie {
    padding: 2rem 0;
    text-align: center;

}

.test {
    background-color: #3E352E;

}

a[target="_blank"]:after {
    content: url(/assets/externo.png);
}

.borderb {
    border-bottom: double #777;
}

.bysha {
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .25);
}

.byt {
    margin: auto;
    width: 60%;
    border-top: double #777;
    border-bottom: double #777;
    padding: 1rem 0 1rem 0;
}

dt {
    font-family: Spartan;
    font-weight: normal;
}