@font-face {
  font-family: Cardo;
  src: url(font/cardo-regular.woff);
}

@font-face {
  font-family: Cardo;
  src: url(font/cardo-italic.woff);
  font-style: italic;
}

@font-face {
  font-family: Cardo;
  src: url(font/cardo-700.woff);
  font-weight: bold;
}

@font-face {
  font-family: Rosarivo;
  src: url(font/rosarivo-regular.woff);
}

body {
  background-color: #f6f3e9;
}

.scaps {
  font-variant: small-caps;
  font-family: Rosarivo;
}

.logo {
  height: 1.5rem;
}

.slogan {
  cursor: default;
  font-family: Cardo;
  font-size: 1.2rem;
  font-style: italic;
}

.test {
  background-color: #39322B;
}

.info {
  background-color: #DDD;
}

.nav-scroller {
  font-size: 1.3rem;
}

@media all and (max-width: 768px) {
  .margenup {
    margin-top: 2rem;
  }
  .slogan {
    font-size: 1rem;
  }
  .logo {
  height: 1.3rem;
  }
  .nav-scroller {
  font-size: 1.1rem;
  }
}

.articulo > p {
    font-family: Cardo;
    font-size: 1.2rem;
    margin-bottom: 1.3em;
}

.lnota {
  width: 50%;
  margin-left: 0;
  background-color: black;
}

.nota {
  font-size: 0.7rem;
}

@media all and (min-width: 1200px) {
  .articulo {
    margin-left: 3.5em;
    margin-right: 7.6em;
  }
}

.articulo-title {
  margin-bottom: 0.25rem;

}

.articulo-meta {
  color: #999;
}

.pie {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #39322B;
  border-top: 0.05rem solid #e5e5e5;
}

.pie p:last-child {
  margin-bottom: 0;
}

.contacto {
  display: inline-block; 
  text-align: left;
  margin-bottom: 0.5rem;
}