@font-face {
    font-family: Crimson Pro;
    src: url(font/crimson-pro.woff);
}

@font-face {
    font-family: Crimson Pro;
    src: url(font/crimson-pro-italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Crimson Pro;
    src: url(font/crimson-pro-600.woff);
    font-weight: bold;
}

@font-face {
    font-family: Crimson Pro;
    src: url(font/crimson-pro-600italic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Spartan;
    src: url(font/spartan-800.woff);
}

@font-face {
    font-family: Rosarivo;
    src: url(font/rosarivo-regular.woff);
}

body {
    background-color: #f6f3e9;
    font-family: Crimson Pro;
    font-size: 1.25rem;
    color: #333;
}

.nav {
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav>li {
    display: inline;
}

.logo {
    background-image: url(/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    height: 2.5rem;

}

.logo2 {
    background-image: url(/assets/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    height: 2.5rem;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .25));

}

.cultura {
    background-image: url(/assets/slogan.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 0;
    height: 2.5rem;
}

.headm {
    padding: 1rem 0 1rem 0;
}

.titcall {
    font-family: Spartan;
}

.peq {
    font-size: 0.95rem;
}

.gran {
    font-size: 1.4rem;
}

.scaps {
    font-variant: small-caps;
    font-family: Rosarivo;
}

.info {
    background-color: #DDD;
}

.nav-scroller {
    font-size: 1.3rem;

}

.foto {
    max-height: 295px;
}

.ulibro {
    max-height: 215px;
}

@media all and (max-width: 767.98px) {
    .margenup {
        margin-top: 2rem;
    }

    .headm {
        padding: 1rem 0 0 0;
    }

    .logo {
        background-position: center;
        height: 2.2rem;
    }

    .cultura {
        background-position: center;
        height: 1.3rem;
    }

    .nav-scroller {
        font-size: 1.1rem;
    }

    .foto {
        max-height: 215px;
    }

    .mcent {
        text-align: center;
    }

}

.articulo>p {
    margin-bottom: 1.3em;
}

.lnota {
    width: 50%;
    margin-left: 0;
    background-color: black;
}

@media all and (min-width: 1200px) {
    .articulo {
        margin-left: 3.5em;
        margin-right: 7.6em;
    }

    .mleft {
        margin-left: 3.5em;
    }
}

.articulo-title {
    margin-bottom: 0.25rem;

}

.pie {
    padding: 2rem 0;
    text-align: center;

}

.test {
    background-color: #3E352E;
}

.tlibro {
    font-weight: bold;
    margin-bottom: 1rem;
}

a[target="_blank"]:after {
    content: url(/assets/externo.png);
}

.borderb {
    border-bottom: double #777;
}

.bysha {
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .25);
}

.byt {
    margin: auto;
    width: 60%;
    border-top: double #777;
    border-bottom: double #777;
    padding: 1rem 0 1rem 0;
}